<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Moderator Page</title>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->


<!-- Bootstrap core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!-- AngularJS Scripts -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>



<!-- Custom styles for this template -->

<!--  <link rel="stylesheet" type="text/css" href="sidebar.css">-->

<!--   <link href="sidebar.css" rel="stylesheet"> -->

<script type="text/javascript" src="positivity.js"></script>

</head>


<!--Navigation Bar -->

<body ng-app="centerContent">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">

					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>

				</button>
				<a class="navbar-brand" href="#">Positivity Blog</a>
			</div>


			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./WEB-INF/moderatorHome.html">Profile</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>


		</div>
	</nav>

	<!--End Navigation Bar -->

	<br>
	<br>
	<br>
	<br>

	<!-- Update Profile -->

	<div ng-controller="moderatorupdateprofilecontroller">
		<form ng-submit="updateProfile()">
			<div class="container-fluid" id="myBody">
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table summary="Input Data Table:"
								class="table table-borderless table-hover">
								<h3 class="text-center">Update User Profile:</h3>
								<thead>
									<tr>
										<th>Input:</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Username:</td>
										<td><input ng-model="oldUser.username" type="text"></td>
									</tr>
									<tr>
										<td>Password:</td>
										<td><input ng-model="oldUser.password" type="password"></td>
									</tr>
									<tr>
										<td>First Name:</td>
										<td><input ng-model="oldUser.firstname" type="text"></td>
									</tr>
									<tr>
										<td>Last Name:</td>
										<td><input ng-model="oldUser.lastname" type="text"></td>

									</tr>
									<tr>
										<td></td>
										<td><button type="Button" class="btn btn-lg btn-default"
												type="submit" value="Update">Edit Profile</button></td>

									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" class="text-center"></td>
									</tr>
								</tfoot>
							</table>
						</div>
						<!--end of .table-responsive-->
					</div>
				</div>
			</div>
		</form>
	</div>

	<div ng-controller="moderatoraddprofilecontroller">
		<form ng-submit="createProfile()">

			<table summary="Input Data Table:"
				class="table table-borderless table-hover">
				<h3 class="text-center">Create User Profile:</h3>
				<thead>
					<tr>
						<th>Input:</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Username:</td>
						<td><input ng-model="newUser.username" type="text"
							name="username"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input ng-model="newUser.password" type="password"
							name="password"></td>
					</tr>
					<tr>
						<td>First Name:</td>
						<td><input ng-model="newUser.firstname" type="text"
							name="firstname"></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input ng-model="newUser.lastname" type="text"
							name="lastname"></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="btn btn-lg btn-default" type="submit"
								id="submit" value="Update">Create Profile</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<!-- End Update Profile -->


	<!-- Create Blog -->
	<div ng-controller="moderatoraddblogcontroller">
		<form ng-submit="createBlog()">
			<div class="container-fluid" id="myBody">
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table summary="Input Data Table:"
								class="table table-borderless table-hover">
								<h3 class="text-center">Create New Blog Post:</h3>
								<thead>
									<tr>
										<th>Blog Body:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<!--<input ng-model="blog.content" type="text">--> <textarea
												id="BlogContentDatail" ng-model="blog.content"></textarea>


										</td>
									</tr>
									<tr>
										<td>
											<button type="Button" class="btn btn-lg btn-success"
												type="submit" value="Create">New Blog</button>
										</td>
									</tr>


								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" class="text-center"></td>
									</tr>
								</tfoot>
								</form>
							</table>
						</div>
						<!--end of .table-responsive-->
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--
			<form ng-submit="createBlog()">
			<input ng-model="blog.content" type="text">
			<button type="Button" class="btn btn-lg btn-success" type="submit" value="Create">New Blog</button>
			</form>
			
			-->
	<!-- End Create Blog -->

	<!-- Delete Blog -->






	<!-- Begin Delete BlogPost -->


	<br>
	<br>

	<div ng-controller="moderatordeleteblogcontroller">
		<form ng-submit="deleteBlog()">
			<div class="container-fluid" id="myBody">
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table summary="Delete Blog Table:"
								class="table table-borderless table-hover">
								<h3 class="text-center">Delete Blog Post:</h3>
								<thead>
									<tr>
										<th>Blog Title:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<!--<input ng-model="blog.content" type="text">--> <input
											id="BlogContentDatail" ng-model="blog.title" type="text">
											<span id="count"></span>

										</td>
									</tr>
									<tr>
										<td>
											<button type="Button" class="btn btn-lg btn-danger"
												type="submit" value="Delete">Delete Blog</button>

										</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" class="text-center"></td>
									</tr>
								</tfoot>
								</form>
							</table>
						</div>
						<!--end of .table-responsive-->
					</div>
				</div>
			</div>
		</form>
	</div>


	<!-- Begin View All Blogs -->
	<div ng-controller="moderatorgetallblogscontroller">
		<form ng-submit="viewAllBlogs()">


			<button type="Button" class="btn btn-lg btn-warning">View
				Blogs</button>


		</form>


	<!-- End Delete Blog -->

		<table summary="Blogposts ordered from most recent:"
			class="table table-bordered table-hover">
			<caption class="text-center">Blogposts ordered from most
				recent:</caption>
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Author</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="x in allBlogs">
					<td>{{x.title}}</td>
					<td>{{x.description}}</td>
					<td>{{x.author}}</td>
					<td>{{x.date}}</td>
				</tr>

			</tbody>
			<tfoot>
				<tr>

				</tr>
			</tfoot>
		</table>
	</div>


	<!-- end center area -->
</body>

</html>