<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class"> oracle.jdbc.OracleDriver </property>
    	<property name="hibernate.connection.url"> chinook-1707-java.crwnhws3xbwv.us-east-2.rds.amazonaws.com:1521:ORCL  </property>
    	<property name="hibernate.connection.password"> password </property>
    	<property name="hibernate.connection.username"> username </property>
    
    	<property name="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect</property>
    	
    	
    	<mapping class="model.BlogPost" />
    	<mapping class="model.Comment" />
    	<mapping class="model.User" />
    	<mapping class="model.UserRole" />
    
    </session-factory>
</hibernate-configuration>
