
	<h2> Past Reimbursement Requests </h2>
	<hr>

	<input type="text" ng-model="status" />
	<table class="table table-striped table-hover table-responsive">
	
		<thead>
			<tr>
				<td>ID </td>
				<td>Type</td>
				<td>Description</td>
				<td>Amount</td>
				<td>Submitted</td>
				<td>Status</td>
			</tr>
		</thead>
		
		
		
		<tbody>
			<tr ng-repeat="a in reimbursements | filter : status">			
				<td>{{a.reimb_id}} </td>
				<td>{{a.reimb_type_id}} </td>
				<td>{{a.reimb_description}} </td>
				<td>{{a.reimb_amount | currency}} </td>
				<td>{{a.reimb_submitted | date : "dd.MM.y"}}</td>
				<td>{{a.reimb_resolved | date : "dd.MM.y"}}</td>
				<td>{{a.reimb_status_id}}</td>			
			</tr>
		</tbody>
	</table>